html
    head
        title CORS
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style  
            include ./../style/style.css
    body
        h2 Übersicht
            ul#menu
                li
                    h2 CORS
                    ol
                        li: a(href="/api/cors/simplecors", title="simplecors") CORS Enabled
                        li: a(href="/api/cors/nocors", title="csrf") CORS Disabled
